@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --textNav: rgb(255, 255, 255);
  --blueDarkGeneral: rgb(2, 2, 51);
  --colorIconMenu: white;
  --hoverAndText: aqua;
  --textGeneral: rgb(2, 2, 51);
  --whiteGeneral: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleh1 {
  color: var(--textGeneral);
  text-align: center;
  font-size: 70px;
  letter-spacing: 3px;
  padding: 40% 0 0;
  font-weight: 600;
}

.textH1 {
  width: 370px;
  padding: 60px 0;
  text-align: center;
  line-height: 40px;
  font-size: 27px;
  font-weight: 300;
}

.nameH1 {
  font-size: 20px;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 20rem;
  font-size: 18px;
  color: var(--whiteGeneral);
  background-color: var(--blueDarkGeneral);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.download-button:hover {
  background-color: var(--whiteGeneral);
  border: 3px solid var(--blueDarkGeneral);
  color: var(--blueDarkGeneral);
}


.download-link {
  text-decoration: none;
}

.download-icon {
  margin-left: 8px;
  font-size: 24px;
}

.iconDownload {
  font-size: 25px;

}

.containHeroDevi {
  margin: 100px 0 0;
  height: 150px;
  background-image: url(../img/hero-devices.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.containFatherProfile {
  background-color: var(--blueDarkGeneral);
  padding: 24px;
  text-align: center;
}

.titletH2 {
  margin: 30px 0 20px;
  font-size: 35px;
  text-align: center;
  color: var(--colorIconMenu);
  font-weight: 600;
}

.textH2 {
  color: var(--whiteGeneral);
  line-height: 40px;
  font-size: 23px;
  font-weight: 300;
}

.containFatherSkill,
.containFatherLengSpeak {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0;
}

.titletH2Skill,
.titletH2LengSpeak,
.titleAgi,
.titleAbout {
  line-height: 40px;
  font-size: 30px;
  color: var(--textGeneral);
  font-weight: 600;
  padding: 24px 20px;
  text-align: center;
}

.titleAgi {
  padding: 50px 20px;
}

.timeExpe,
.jobTitle {
  font-size: 15px;
}

.logo_skill {
  color: var(--hoverAndText);
  font-size: 40px;
  margin-top: 40px;
}

.textH2Skill,
.textH2LengSpeak,
.textAgi,
.textAbout {
  text-align: center;
  color: var(--textGeneral);
  line-height: 40px;
  font-size: 21px;
  font-weight: 300;
  padding: 0 1rem;
  opacity: 0;
  transition: opacity 1s;
}

.animate {
  opacity: 1;
}

.textAgi {
  padding: 0 1rem 4rem 1rem;
}

.containFatherLogo,
.containSonLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 70px;
}

.logo_skill {
  font-size: 70px;
}

.titleLogo {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
  color: var(--whiteGeneral);
}

.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  row-gap: 35px;
  background-color: var(--blueDarkGeneral);
  margin: 50px 10px;
  padding: 20px;
  border-radius: 1rem;
}

.containLogoFather,
.containerCardExpe,
.containLogoDh,
.sectionAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containLogoDh {
  margin: 35px 0;
  height: 4rem;
  width: 65%;
  background-color: black;
}

.logoDH {
  height: 1rem;
  cursor: pointer;
}

.spanDh {
  font-weight: bold;
}

.sectionExpe {
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.cardExpe {
  width: 90%;
  border-radius: 1rem;
  background-color: var(--whiteGeneral);
}

.imgLogoExpe {
  padding: 30px;
  height: auto;
  width: 100%;
}

.containtH3p {
  background-color: var(--blueDarkGeneral);
  padding: 0 30px 30px 30px;
  border-radius: 0 0 1rem 1rem;
}

.titleCardExpe {
  font-weight: 500;
  text-align: center;
  padding: 21px 0;
  color: var(--whiteGeneral);
  font-size: 24px;
}

.textCardExpe {
  font-weight: 300;
  color: var(--whiteGeneral);
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  .textH1 {
    width: 530px;
    font-size: 30px;
    line-height: 42px;
  }

  .containHeroDevi {
    height: 296px;
  }

  .titletH2 {
    font-size: 34px;
  }

  .textH2 {
    padding: 0px 5rem;
    font-size: 23px;
  }

  .titletH2Skill,
  .titletH2LengSpeak {
    font-size: 34px;
  }

  .textH2Skill,
  .textH2LengSpeak {
    padding: 0px 10rem;
    font-size: 23px;
  }

  .textH2LengSpeak {
    padding: 0px 9rem;
  }

  .wrapper {
    gap: 40px;
    margin: 50px 30px;
    padding: 40px;
  }

  .titleLogo {
    font-size: 23px;
  }

  .logo_skill {
    font-size: 84px;
  }

  .logo {
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .titletH2 {
    font-size: 40px;
  }

  .textH2 {
    padding: 0 9%;
    font-size: 27px;
  }

  .titletH2Skill,
  .titletH2LengSpeak {
    font-size: 40px;
    padding: 30px 11rem;
    font-size: 40px;
  }

  .textH2Skill,
  .textH2LengSpeak {
    padding: 0px 26rem;
    font-size: 27px;
  }

  .textH2LengSpeak {
    padding: 30px 22rem;
  }

  .wrapper {
    margin: 50px 17%;
  }
}